<!DOCTYPE html>
<html>

	<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="/inicioEstilo.css"/>
    <script src="javascript.js"></script>

    <title>Inicio</title>

</head>

<body>
    
    <div id="titulo">Batalla naval</div>

    <table id="tabla">
        
        <tr>
            <td><button id="Acceder" class="cajas" onclick="location.href='inicio/login'" > Acceder </button></td>
            <br>
            <td><button class="cajas" onclick="location.href='inicio/registro'"> Registrarse </button></td>
        </tr>
        
        
    </table>
    
    
</body>
</html>