<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Menu</title>
    <link rel="stylesheet" href="/menuEstilo.css"/>
</head>

<body>

    <div class="elementoCentral">

        <h2>Menu</h2>
        <br>
        <br>
    
        <button id="botonPartidaRapida" class="botones" onclick="location.href='/faseColocacion'">
            PartidaRapida</button>
        
        <br>
        <br>

        <button id="botonRanking" class="botones"onclick="location.href='/menu/ranking'"> Ranking</button>
        <br>
    
    </div>


</body>

</html>